* {
  margin: 0;
}

#world {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("ceu.jpg");
  background-repeat: no-repeat;
  background-size: center;
  background-position: center;
}
