* {
  margin: 0;
}

#world {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("airport.jpg");
  background-repeat: no-repeat;
  background-size: center;
  background-position: center;
}

#tutorial {
  position: absolute;
  left: 10px;
  top: 5px;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  background-image: url("tutorial.png");
  background-repeat: no-repeat;
  background-size: center;
  background-position: start;
}

#switchAxis {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  overflow: hidden;
}

#switchGrid {
  position: absolute;
  right: 10px;
  top: 30px;
  z-index: 10;
  overflow: hidden;
}